/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
   background-color: #F5F6F7;
   overflow-x: hidden;
  overflow-y: auto;
}
/* barra scroll */
html, body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.1) transparent;
}

/* Webkit: scrollbar minimalista sin flechas */
html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
html::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}




/* NAV + HERO*/
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 10;
}


.hero-top-right,
.hero-top-left,
.talk-button,
.hero-center-top,
.hero-bottom-left{
  font-size: 0.85rem;
  color: black;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}


.hero-top-right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.cv-trigger,
.talk-button {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem 0.4rem;
  z-index: 10;
}


.cv-trigger:hover,
.talk-button:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #444;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
    border-radius: 999px;
}

.status-dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #30FF37;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}

/* Centro nav: ubicación y hora */
.hero-center-top {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 10;
  white-space: nowrap;
}






/* HERO */
.hero-clean {
  position: relative;
  min-height: 300vh; 
  width: 100vw;
  overflow: visible; 
}

.hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Abajo izquierda */
.hero-bottom-left {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 2;
   display: inline-block;
  width: 100%;
}


@keyframes glowFoldDown {
  0% {
    opacity: 0.9;
    transform: translateX(-50%) translateY(0) scaleY(1);
  }
  50% {
    opacity: 0.6;
    transform: translateX(-50%) translateY(50px) scaleY(2);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100px) scaleY(0.2);
  }
}

@keyframes glowUnfoldUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100px) scaleY(0.2);
  }
  50% {
    opacity: 0.6;
    transform: translateX(-50%) translateY(30px) scaleY(1.6);
  }
  100% {
    opacity: 0.9;
    transform: translateX(-50%) translateY(0) scaleY(1);
  }
}

.scroll-glow-line.fold {
  animation: glowFoldDown 0.6s ease forwards;
}

.scroll-glow-line.unfold {
  animation: glowUnfoldUp 0.6s ease forwards;
}



.scroll-glow-line {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 150px;
  background: radial-gradient(
    ellipse at center bottom,
    rgba(0, 255, 255, 0.8) 0%,     /* Azul cian muy brillante */
    rgba(0, 180, 255, 0.6) 25%,    /* Azul eléctrico */
    rgba(0, 100, 255, 0.4) 50%,    /* Azul profundo */
    rgba(0, 50, 100, 0.15) 75%,    /* Azul oscuro difuminado */
    rgba(255, 255, 255, 0) 100%    /* Transición suave al blanco */
  );
  filter: blur(40px);
  opacity: 1;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.8s ease;
}


.scroll-glow-line.fade-up {
  animation: glowFadeUp 0.8s ease forwards;
}

.scroll-glow-line.reset {
  opacity: 0.9;
  transform: translateX(-50%) translateY(0);
  animation: none;
}





/* MAIN */
 .carousel-section {
  padding-top: 100px;
 }

.vertical-carousel {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  background-color: #F5F6F7;
}

.carousel-item {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  transition: all 0.4s ease;
  filter: blur(4px);
  opacity: 0.5;
  background-color: #F5F6F7;
}

.carousel-item.active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.02);
  background-color: #F5F6F7;
}

.carousel-hero {
  background-color: black;
  padding: 0;
  filter: none;
  opacity: 1;
  background-color: #F5F6F7;
}

.hero-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #F5F6F7;
}

/* Contenido de proyectos */
.project-left{
  width: 20%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  display: inline-block;
  color: #444;
  padding: 0.2rem 0.6rem;
  white-space: nowrap;
}
.project-title {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.project-description {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  max-width: 90%;
  white-space: normal;
}
.project-goal {
  font-size: 0.75rem;
  color: #999; /* gris clarito */
  margin-top: 0.5rem;
  white-space: normal;
}

.project-right {
  width: 20%;
  width: 20%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-end; 
  gap: 0.3rem;
}

.tag{
  font-family: 'Inter', sans-serif;
  font-size: .75rem;
  display: inline-block;
  background: white;
  color: #444;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
  line-height: 1;
  white-space: nowrap;
}

.project-center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-center img {
  max-width: 100%;
  max-height: 85vh;
  object-fit: cover;
}

/* animacion */
.project-center img {
  transition: transform 0.3s ease;
  will-change: transform;
}

.project-center video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}




/* CONTACT */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  transition:
    width 0.6s ease-in-out,
    opacity 0.4s ease-in-out,
    background 0.6s ease-in-out;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
}

.modal.show {
  width: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2); 
}


.modal-content img {
  max-width: 300px;
}

/* efecto tarjeta Contact */
.tilt {
  perspective: 1000px;
}

.tilt img {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.message-wrapper {
  position: relative;
  height: 2.2rem; 
  margin-top: 1rem;
}

.hover-msg,
.copied-msg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: #444;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.4rem 1rem;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
}

.hover-msg.show,
.copied-msg.show {
  opacity: 1;
}




/* Pulsación visual al copiar la tarjeta */
#contactCard.pulse {
  animation: pulseCard 0.6s ease-out forwards;
}

@keyframes pulseCard {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0 0 40px 10px rgba(173, 216, 255, 0.4); /* sombra azul muy suave */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}




/* CV */
.cv-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(14px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 1.3s ease, opacity 0.6s ease;
  z-index: 9998;

}

.cv-modal.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}


.cv-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  width: 100%;

  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
}

.cv-col ul {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
  list-style: none;
}

.cv-col ul li {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
  margin-bottom: 0.5rem;
}

.cv-col ul li strong {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.cv-photo { 
/*   top: 5vh; 
  left: 5vw; */ 
  width: 130px; 
  border-radius: 8px; 
  opacity: 1; 
 
}

.col-middle h3 {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
  margin-bottom: 0.5rem;
}

.col-middle p {
  font-size: .75rem;
  line-height: 1.2;
  color: #444;
  white-space: normal;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif;
}

.cv-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cv-tags span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    display: inline-block;
    background-color: #fff;
    color: #444;
    padding: 0.2rem 0.6rem;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
}




/*CLOUSE*/
.clouse-btn,
.contact-clouse {
  position: fixed;        
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 30px;
  z-index: 10010;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 999px;
  padding: 6px;
  transition: background-color 0.3s ease;

}

.clouse-btn img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

/* Contacto: izquierda centro vertical */
.contact-clouse {
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

/* CV: Flechita centrada abajo */
.cv-clouse {
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.clouse-btn:hover,
.contact-clouse:hover {
  color: #444;
  background: rgba(255, 255, 255, 0.7);
}





/* CINTA */
.intro-cinta {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  overflow: hidden;
}

/* Difuminado superior e inferior */
.intro-cinta::before,
.intro-cinta::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 2;
  pointer-events: none;
}

.intro-cinta::before {
  top: 0;
  background: linear-gradient(to bottom, #f5f6f7 0%, rgba(245,246,247,0) 100%);
}

.intro-cinta::after {
  bottom: 0;
  background: linear-gradient(to top, #f5f6f7 0%, rgba(245,246,247,0) 100%);
}


.cinta-container {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  perspective: 450px;
}

.cinta-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  will-change: transform;
  animation: scrollLoop 8s linear infinite;
  padding-top: 0;

}

.cinta-inner img {
  width: 45vw;
  transform-origin: center;
  opacity: 100;
  border-radius: 8px;
  transition: transform 0.2s ease;
  margin: -20vh 0;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  will-change: transform;
  pointer-events: auto;
}

@keyframes scrollLoop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-180vh);
  }
}






/* ------------------------------
   Responsive tablet
------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1200px) {

  .carousel-section {
    padding-top: 0px;
   }

  .cinta-inner {
    height: 100vh;
    gap: 8rem;
    padding-top: 80vh;
    padding-bottom: 10vh;
  }

  @keyframes scrollLoop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-240vh);
  }
}


}




/* ------------------------------
   Responsive mobile
------------------------------ */
@media screen and (max-width: 768px) {
 
  body {
    font-size: 0.75rem;
    line-height: 1.5;
    overflow-x: hidden !important;
    width: 100%;
  }

  /* NAV */
  .hero-bottom-left,
  .cv-trigger,
  .hero-top-left,
  .hero-top-right,
  .talk-button,
  .nav-bar,
  .project-description,
  .project-goal,
  .cv-col ul li,
  .col-middle p,
  .col-middle h3,
  .cv-tags span,
  .tag {
    font-size: 0.75rem;
    width: auto;
  }


  .hero-center-top {
    display: none;
  }


  .hero-bottom-left {
    position: absolute;
    left: 1rem;
    transform: none;
    text-align: left;
  }

  .cv-trigger,
  .talk-button {
    padding: 0.2rem 0.2rem;
    margin: 1.2rem 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
  }

  .cv-trigger:hover,
  .talk-button:hover {
    padding: 0.2rem 0.2rem;
    margin: 1.2rem 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
  }

  .talk-button {
    white-space: nowrap;
    flex-shrink: 0;
    max-width: 100%;
  }
  .cv-trigger {
    white-space: normal;
    overflow-wrap: break-word;
    flex-shrink: 1;
  }

.nav-bar {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: nowrap;   
  gap: 0.2rem;
  align-items: flex-start;

}



/* MAIN    */
  .project-title {
    font-size: 0.90rem;
  }



/* CINTA */
    .intro-cinta {
    height: auto;
    overflow: hidden;
  }

  .cinta-container {
    height: 100vh;
    overflow: hidden;
    perspective: 450px;
  }

  .cinta-inner {
    height: 100vh;
    gap: 2rem;
    padding-top: 85vh;
    padding-bottom: 10vh;
  }

  @keyframes scrollLoop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-190vh);
  }
}


  .cinta-inner img {
    width: 80vw;
    max-width: 300px;
    height: auto;
    opacity: 1;
    margin: -10vh 0;
  }



  /* CAROUSEL */

   .carousel-section {
    padding-top: 0px;
   }
 
 .carousel-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  .project-left {
    width: 100%;
    font-size: 0.9rem;
    order: 1;
    padding: 0;
  }

  .project-center {
    width: 100%;
    order: 2;
    padding: 0;

  }

  .project-right {
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.3rem;
    order: 3;
  }

  .tag {
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    display: inline-block;
    color: #444;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.2rem 0.4rem;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
  }


  .project-center img,
  .project-center video {
    max-width: 100%;
    max-height: 60vh;
    object-fit: contain;
    padding: 0;

  }



  /* CV */
   .cv-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    overflow-y: auto;
    z-index: 1000;
    display: block; 
    padding: 0;
  }

  .cv-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  

  .cv-col {
    width: 100%;
    padding: 0;
    font-size: 0.75rem;
    line-height: 1.4;
  }

  .col-left ul {
    list-style: none;
    padding: 0;
  }

  .cv-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto 0 auto;
    border-radius: 0.5rem;
    padding-top: 2rem;
  }

  .col-middle h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .col-middle p {
    margin-bottom: 1rem;
  }

  .col-right {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    order: -1;
  }

  .cv-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .cv-tags span {
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    display: inline-block;
    background: white;
    color: #444;
    padding: 0.2rem 0.4rem;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
  }

  .contact-clouse{
    display: none;
  }


  .cv-clouse {
    position: static;           
    transform: none;
    left: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
  }

  .cv-clouse-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem;
    padding-bottom: 30px;
  }

  .cv-clouse img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

/* contacto */
 .hover-msg {
    opacity: 1 !important; /* Mostrar siempre en móviles */
    pointer-events: none;  /* Evita que interfiera con clics */
  }
.copied-msg {
    top: 3rem; 
  }

}




